
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #005C97;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Vina Sans', cursive;
    
}

/*header*/

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

header img{
    width: 75px;
    height: 85px;
    margin-left: 30px;
}

.logo{
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: center;
    margin-left: 20px;
    
}

.logo strong{
    font-size: 30px;
    color: rgb(181, 197, 197)
}

nav{
    display: flex;
    width: 80%;
    justify-content: space-around;
   
}

nav a{
    font-size: 25px;
    color: rgb(181, 197, 197);
    text-decoration: none;
    transition: 0,2s;
}

/*botones-menu*/

#mostrar-menu {
    display: none;
    cursor: pointer;
    color: rgb(181, 197, 197);
    transition: 0,2s;
}

#ocultar-menu{
    display: none;
    cursor: pointer;
    transition: 0,2s;
    color: rgb(181, 197, 197);
}

section{
    width: 100%;
    height: 780px;
    display: flex;
    
}

.presentacion{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.presentacion H1{
    font-size: 40px;
    color:rgb(181, 197, 197) ;
}

.presentacion h3{
    font-size: 30px;
    color:rgb(0, 183, 255);
    margin-bottom: 40px;

}

.presentacion p{
    font-size: 20px;
    color: rgb(181, 197, 197);
}

.container-presentacion{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
.botones-presentacion{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
}

.botones-presentacion a{
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    border: 2px solid rgb(0, 183, 255) ;
    border-radius: 10px;
    padding: 15px;
    color: rgb(0, 183, 255);
    transition: 0,2s;
}

.img{
    padding: 20px;
    width: 50%;
    background-image: url(fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 600px 900px;
}

.iconos{
    width: 100%;
    display: flex;
    padding: 5px;
    margin-top: 20px;
    justify-content: space-evenly;
}

svg{
    color: rgb(181, 197, 197);
}

nav a:hover{
    color: rgb(0, 183, 255);
}
#mostrar-menu:hover{
    color: rgb(0, 183, 255);
}

#ocultar-menu:hover{
    color: rgb(0, 183, 255);
}

.iconos svg:hover{
    color: rgb(0, 183, 255);
}

.botones-presentacion a:hover{
    color: rgb(181, 197, 197);
    background-color: rgb(0, 183, 255);
    transition: 0,2s;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 900,
  'GRAD' 0,
  'opsz' 48
}



@media (max-width:1000px){

    #mostrar-menu{
        display: block;
        background-color: transparent;
        border: none;
    }

    #ocultar-menu{
        display: block;
        background-color: transparent;
        border: none;
    }
    header{
        position: sticky;
        top: 0;
    }
    nav{
        opacity: 0;
        visibility: hidden;
        background-color: #005C97;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 50px;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        justify-content: start;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    nav a{
        font-size: 20px;
    }

    .visible{
        opacity: 1;
        visibility: visible;
    }

  section{
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }

  .img{
    width: 100%;
    background-size: 250px 380px;
    height: 300px;
  }

  .presentacion{
    width: 100%;
    justify-content: start;
    height: auto;
  }


}
