
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #FDFDFD;  /* fallback for old browsers */
    font-family: 'Original Surfer', cursive;
}

/*header*/

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    flex-wrap: wrap;
    width: 100%;
    height: 15vh;
    
}

header img{
    width: 75px;
    height: 85px;
    
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
    
}

.nav{
    width: 75%;
   
}

.navresponsive{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo strong{
    font-size: 30px;
    color: #0D1321;
}


.navegacion {
    font-size: 30px;
    color: #0D1321;
    text-decoration: none;
    
    
    
}

/*MENU*/
.btn-nav{
    position: relative;
}

.menu {
    visibility: hidden; 
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #0D1321;
    position: absolute;
}

.cerrar{
    visibility: hidden;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #0D1321;
}





/*navegacion por pestañas*/


.contenidopestañas{
    
    display: none;
}

.navegacion.activo{
    color: black;
    text-shadow: 0 0 1.5px,0 0 1.5px;
    border: 3px solid  #0D1321;
    padding-right: 20px;
    padding-left: 20px;
}

.contenidopestañas.activo{
    display: block;
}




/*contenido inicio*/



.presentacion{
   
  
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 85vh;
   
}
.container-presentacion{
  
   
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 50%;
   

}
.contenido-letra{
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}
.presentacion H1{
    font-size: 65px;
    color:#0D1321 ;
    
}

.presentacion h3{
    font-size: 50px;
    color:#E7D7C9;
    

}

.presentacion p{
    font-size: 25px;
    color: #0D1321;
    margin-top: 1.5em;
    width: 100%;
    text-align: justify;
}

.container-btn{
    
    height: 40%;
    width: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.botones-presentacion{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
}

.botones-presentacion a{
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    border: 2px solid #A38F85 ;
    border-radius: 10px;
    padding: 15px;
    color: #A38F85;
    
   
   
    
}

.imgcontadora{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    
    
}

.imgcontadora img{
    height: 100%;
    width: 67%;
    margin-bottom: 2em;
}

.iconos{
    width: 100%;
    display: flex;
    padding: 5px;
    margin-top: 20px;
    justify-content: space-evenly;
    
    
}

.iconos a{
    color: #A38F85;
}

nav a:hover{
    color: #0D1321;
    text-shadow: 0 0 2px,0 0 2px;
    transition: 0.3s;
}
.iconos a:hover{
    
    transition: 0.3s;
    
   
}

.botones-presentacion a:hover{
    color: white;
    background-color: #A38F85;
    text-shadow: 0 0 10px, 0 0 10px;
    box-shadow: 0 0 10px #A38F85,0 0 10px #A38F85;
    transition: 0.3s;
}

.menu :hover{
    color: #0D1321 ;
    transition: 0.3s;
}

/*CONTENIDO ACERCA DE*/

.ContenidoAcerdaDe{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    padding: 1em;
    
}


.tarjeta-acercade{
    position: relative;
    width: 30%;
    height: 77vh;
    border-radius: 3em;
    margin: 0.6em;
}



.front{
    
    background-size: cover;
    transform: rotateY(0deg);
    border-radius: 3em;
    background-image: var(--i);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
    backface-visibility: hidden;

}

.content-tarjet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 3em;
    color: #D4B2A7;
    text-align: center;
    height: 100%;
    width: 100%;
}

.btn-front{
    color: #EDE9E3;
    font-size: 23px;
    text-decoration: underline;
    cursor: pointer;
    
}

.content-tarjet a:hover{
    text-shadow: 0 0 10px #EDE9E3, 0 0 10px #EDE9E3;
}

.back{
    background-color: rgba(0, 0, 0, 0.4);
    transform: rotateY(180deg);
    border-radius: 3em;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 1s;
    backface-visibility: hidden;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.btn-back{
    color: #EDE9E3;
    font-size: 23px;
    text-decoration: underline;
    cursor: pointer;
   
}

.btn-back:hover{
    text-shadow: 0 0 10px #EDE9E3, 0 0 10px #EDE9E3;
}

.front:hover{
    box-shadow: 0 0 20px rgb(0, 0, 0) ;
}

.carrousel{
    width: 100%;
    height: 100%;
    padding: 1em;
    overflow: hidden;
}
.carrousel a{
    display: flex;
    justify-content: center;
    height: 10%;
    align-items: center;
}


.carrousel .principal{
    width: 400%;
    height: 80%;
    display: flex;
    flex-direction: row;
    transform: translateX(0%);
    transition: 1s;
    
}

#principal2{
    width: 500%;
}

.carrousel .content-carrousel{
    width: calc( 100%/4 );
    color: #EDE9E3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96%;
    
}

.carrousel .puntos{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 10%;
}

.carrousel .punto{
    width: 1em;
    height: 1em;
    background-color: #EDE9E3;
    border-radius: 100%;
    box-shadow: 0px 0px 10px rgba(255, 254, 254, 0.5);
    cursor: pointer;   
    transition: 0.5s;

}
.carrousel .punto:hover{
    background-color: black;
    box-shadow: 0 0 5px #EDE9E3,0 0 5px #EDE9E3;    

}

.carrousel .punto.activo{
    background-color: #D4B2A7;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.7);
}

/* CONTENIDO CONTACTAME */


.pestaña-contacto{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
.contacto{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 2em;
    text-align: center;
    padding: 2.5em;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}
.perfil-contacto{
    height: 25%;
    width: 80%;
}
.perfil-contacto img{
    width: 50%;
    height: 100%;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}
.perfil-contacto h3{
   font-size: 23px;
   color: black;
}

.redes{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 95%;
}

.separacion-redes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 1em;
    height: 100%;
    margin: 0.7em;
    background-color: #D4B2A7;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    transition: 1s;
    cursor: pointer;
}
.separacion-redes:hover{
    transform: scale(1.1);
    box-shadow: 0px 10px 20px black;
}
.separacion-redes a{
    text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-size: 20px;
    color:black ;
}

.separacion-redes svg{
    color: black;
}


@media screen and (max-width:768px){

    .header{
        height: 100%;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
       background-color: #EDE9E3;
        position: sticky;
        top: 0;
        padding: 0.5em;
        z-index: 100;
        
    }

    .header.act{
        background-color: #EDE9E3;
       
    }
   
    header img{
        width: 55px;
        height: 55px;
        
    }
    
    
    .menu{
        visibility: visible;
    }

    .cerrar.mostrar{
        visibility: visible;
    }

    .logo strong{
        font-size: 30px;
    }
    .navegacion{
        margin: 1em 0;
        font-size: 25px;
    }
    .nav{
        width: 100%;
        display: none;  
    }

    .navresponsive{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

   
    .nav.mostrar{
        display: block;
       }
 
       .presentacion{
           flex-direction: column-reverse;
           width: 100%;
           height: 100%;
        
       }
       
       .contenido-letra{
       
       width: 100%;
       padding: 1.5em;
       
       }
       .contenido-letra h1{
        font-size: 30px;
       }
       .contenido-letra h3{
        font-size: 25px;
       }
       .container-presentacion p{
        margin-top: 2em;
        font-size: 20px;
       }
       .container-presentacion{
        height: 50%;
        width: 100%;
        
       }
       .container-btn{
        margin-top: 2em;
        margin-bottom: 2em;
       }
       .botones-presentacion a{

        font-size: 20px;

       }

       .imgcontadora{
        height: 50%;
        width: 100%;
        
       }
       .imgcontadora img{
        width: 55%;
    
       }

       
       .tarjeta-acercade{
        width: 100%;
        height: 60vh;
       }
      
       .pestaña-contacto{
        padding: 1em;
        height: 91vh;
       }
       .contacto{
        width: 90%;
        height: 90%;
        padding: 0.2em;
       }

       .perfil-contacto img{
        height: 80%;
        width: 50%;
        margin-top: 1em;
       }
   
}
