
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(0,110,223);
    background: linear-gradient(180deg, rgba(0,110,223,1) 33%, rgba(0,74,148,1) 100%);
    font-family: 'Original Surfer', cursive;
}

/*header*/

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0em 2.1em;
    flex-wrap: wrap;
    width: 100%;
    height: 15vh;
}

.logo img{
    width: 4.2em;
    height: 5.2em;
    
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    
}

.nav{
    width: 75%;
   
}

.navresponsive{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo strong{
    font-size: 2.2em;
    color: #002651;
    padding: 0.5em;
}


.navegacion {
    font-size: 1.7em;
    color: #F8F6F0;
    text-decoration: none;
    
    
    
}

/*MENU*/
.btn-nav{
    position: relative;
}

.menu {
    visibility: hidden; 
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #0D1321;
    position: absolute;
}

.cerrar{
    visibility: hidden;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #0D1321;
}





/*navegacion por pestañas*/


.contenidopestañas{
    
    display: none;
}

.navegacion.activo{
    color: #20a8ff;
    text-shadow: 0 0 2px,0 0 2px;
    
}

.contenidopestañas.activo{
    display: block;
}




/*contenido inicio*/



.presentacion{
   
  
    display: flex;
    width: 100%;
    height: 85vh;
   
}
.container-presentacion{
  width: 50%; 
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}
.contenido-letra{
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
  }
  

.presentacion H1{
    font-size: 2.3em;
    color: #F8F6F0;
}

.presentacion h3{
    color:#b2dfff;
    font-size: 2em;
}

.presentacion p{
    font-size: 1.5em;
    margin-top: 1.5em;
    color: #F8F6F0;
}

.container-btn{
    width: 100%; 
    height: 15%;
}
.botones-presentacion{
    
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   
   
}

.botones-presentacion a{
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    border: 0.1em solid #20a8ff;
    border-radius: 0.4em;
    padding: 0.7em;
    color: #20a8ff;
    
}

.imgcontadora{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    
    
}

.imgcontadora img{
    height: 100%;
    width: 67%;
    margin-bottom: 2em;
}


nav a:hover{
    color: #20a8ff;
    text-shadow: 0 0 2px,0 0 2px;
    transition: 0.2s;
}
.iconos a:hover{
    
    transition: 0.3s;
    
   
}

.botones-presentacion a:hover{
    color: white;
    background-image: linear-gradient(to left, #20a8ff, #008dff);
    text-shadow: 0 0 10px, 0 0 10px;
    box-shadow: 0 0 10px #0057b4,0 0 10px #0057b4;
    transition: 0.2s;
    border: none;
}

.menu :hover{
    color: #0D1321 ;
    transition: 0.3s;
}

/*CONTENIDO ACERCA DE*/

.ContenidoAcerdaDe{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    
    
}


.tarjeta-acercade{
    position: relative;
    width: 30%;
    height: 85vh;
    border-radius: 3em;
    margin: 0.2em 1em;
    
}



.front{
    
    background-size: cover;
    transform: rotateY(0deg);
    border-radius: 3em;
    background-image: var(--i);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
    backface-visibility: hidden;
    
}

.content-tarjet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 3em;
    color: #d1d1d1;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}

.btn-front{
    color: #EDE9E3;
    font-size: 1.4em;
    text-decoration: underline;
    cursor: pointer;
    width: fit-content;
    
}

.content-tarjet a:hover{
    text-shadow: 0 0 10px #20a8ff, 0 0 10px #20a8ff;
    color: #20a8ff;
}

.back{
    background-color: rgba(0, 0, 0, 0.4);
    transform: rotateY(180deg);
    border-radius: 3em;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 1s;
    backface-visibility: hidden;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.btn-back{
    color: #20a8ff;
    font-size: 1.4em;
    text-decoration: underline;
    cursor: pointer;
    
}

.btn-back:hover{
    text-shadow: 0 0 10px #20a8ff, 0 0 10px #20a8ff;
}

.front:hover{
    box-shadow: 0 0 20px rgb(0, 0, 0) ;
}

.carrousel{
    width: 100%;
    height: 100%;
    padding: 1em;
    overflow: hidden;
}


.volver-back{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    font-size: 1em;
}


.carrousel .principal{
    width: 400%;
    height: 80%;
    display: flex;
    flex-direction: row;
    transform: translateX(0%);
    transition: 1s;
    
}

#principal2{
    width: 500%;
}

.carrousel .content-carrousel{
    width: calc( 100%/4 );
    color: #EDE9E3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96%;
    
}

.carrousel .puntos{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 10%;
}

.carrousel .punto{
    width: 1em;
    height: 1em;
    background-color: #d1d1d1;
    border-radius: 100%;
    box-shadow: 0px 0px 10px #d1d1d1;
    cursor: pointer;   
    transition: 0.5s;

}
.carrousel .punto:hover{
    background-color: #262626;
    box-shadow: 0 0 5px #262626,0 0 5px #262626;    

}

.carrousel .punto.activo{
    background-color: #262626;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.7);
}

/* CONTENIDO CONTACTAME */


.pestaña-contacto{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    
    
}
.contacto{
    height: 84vh;
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to right, #004a94, #002651);
    border-radius: 2em;
    text-align: center;
    padding: 1em;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);

}
.perfil-contacto{
    height: 25%;
    
    
}
.perfil-contacto img{
    height: 10em;
    width: 10em;
    border-radius: 100%;
    background-color: #f6f6f6;
    box-shadow: -1px 1px 5px #f6f6f6;
}
.perfil-contacto h3{
   font-size: 1.2em;
   color: #f6f6f6;

}

.redes{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 0.7em;
    
}

.separacion-redes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 1em;
    height: 15%;
    background-color: #006edf;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: pointer;
    width: 100%;
}
.separacion-redes:hover{
    transform: scale(1.1);
    box-shadow: 0px 5px 20px #006edf;
}
.separacion-redes a{
    text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-size: 1em;
    color:#f6f6f6 ;
}

.separacion-redes svg{
    color: black;
}

/*SERVICIOS*/

#Servicios{  
    height: 100vh;
}

@media screen and (max-width:1440px){
    .contacto{
        width: 33%;
    }
}

@media screen and (max-width:768px){

    .header{
        height: 100%;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
        background-color: #0057b4;
        position: sticky;
        top: 0;
        z-index: 100;
        padding: 0em 1em;
        
    }

    .header.act{
        background-color: #0057b4;
    }
    .logo{
        width: auto;
        padding: none;
    }

    .logo img{
        height: 3.5em;
        width: 2.5em;
    }
    .logo strong{
        font-size: 1.8em;
    }
    .menu{
        visibility: visible;
    }

    .cerrar.mostrar{
        visibility: visible;
    }

    .navegacion{
        margin: 0.7em 0;
        font-size: 1.5em;
    }
    .nav{
        width: 100%;
        display: none;  
    }

    .navresponsive{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navegacion{
        padding: 0.3em;
    }
   
    .nav.mostrar{
        display: block;
       }
 
    .presentacion{
           flex-direction: column-reverse;
           width: 100%;
           height: 100%;
        
    }
       
    .contenido-letra{
       
        width: 100%;
        padding: 0.4em;
    }

    .contenido-letra h1{
        font-size: 1.6em;
    }

    .contenido-letra h3{
        font-size: 1.5em;
    }

    .contenido-letra p{
        font-size: 1.3em;
    }
        
    .container-presentacion{
        height: 50%;
        width: 100%;
        
    }
    .container-btn{
        margin-bottom: 0.8em;
        margin-top: 4.5em;
    }
    
    .botones-presentacion a{
        font-size: 1.2em;
    }
    .imgcontadora{
        height: 50%;
        width: 100%;

    }

    .imgcontadora img{
        width: 55%;
    
    }
  
    .tarjeta-acercade{
        width: 100%;
        height: 60vh;
        margin-top: 1em;
       }
      
    .pestaña-contacto{
        padding: 1em 1em;
        height: 100vh;
    }

    .contacto{
        width: 100%;
        
    }

    .redes{
        width: 100%;
    }
      
}

