
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #005C97;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Original Surfer', cursive;
}

/*header*/

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em;
    flex-wrap: wrap;
    width: 100%;
    
    
    
}

header img{
    width: 75px;
    height: 85px;
    
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
    
}

.nav{
    width: 80%;
   
}

.navresponsive{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo strong{
    font-size: 30px;
    color: rgb(181, 197, 197)
}


.navegacion {
    font-size: 25px;
    color: rgb(181, 197, 197);
    text-decoration: none;
    
    
    
}

/*MENU*/
.menu {
    display: none; 
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgb(181, 197, 197);
}



/*navegacion por pestañas*/


.contenidopestañas{
    
    display: none;
}

.navegacion.activo{
    color: rgb(0, 183, 255);
    text-shadow: 0 0 5px,0 0 5px;
}

.contenidopestañas.activo{
    display: block;
}




/*contenido inicio*/



.presentacion{
   
  
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 86vh;
    
    
   
}
.container-presentacion{
  
   
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   width: 50%;
   
}
.contenido-letra{
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.presentacion H1{
    font-size: 40px;
    color:rgb(181, 197, 197) ;
    text-align: center;
}

.presentacion h3{
    font-size: 30px;
    color:rgb(0, 183, 255);
    text-align: center;

}

.presentacion p{
    font-size: 20px;
    color: rgb(181, 197, 197);
    text-align: center;
    padding: 1em;
    margin-top: 1.5em;
    width: 100%;
}

.container-btn{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.botones-presentacion{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
}

.botones-presentacion a{
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    border: 2px solid rgb(0, 183, 255) ;
    border-radius: 10px;
    padding: 15px;
    color: rgb(0, 183, 255);
    
   
   
    
}

.imgcontadora{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    
    
}

.imgcontadora img{
    height: 100%;
    width: 75%;
}

.iconos{
    width: 100%;
    display: flex;
    padding: 5px;
    margin-top: 20px;
    justify-content: space-evenly;
    
    
}

.iconos a{
    color: aliceblue;
}

nav a:hover{
    color: rgb(0, 183, 255);
    text-shadow: 0 0 5px,0 0 5px;
    transition: 0.3s;
}
.iconos a:hover{
    color: rgb(0, 183, 255);
    transition: 0.3s;
    
   
}

.botones-presentacion a:hover{
    color: white;
    background-color: rgb(0, 183, 255);
    text-shadow: 0 0 10px, 0 0 10px;
    box-shadow: 0 0 10px rgb(0, 183, 255),0 0 10px rgb(0, 183, 255);
    transition: 0.3s;
}

.menu :hover{
    color: rgb(0, 183, 255) ;
    transition: 0.3s;
}

/*CONTENIDO ACERCA DE*/
.pestaña-acercade{
    width: 100%;
    height: 100%;
    display: flex;
    
    
}


.tarjeta-acercade{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    height: 81vh;
    margin: 2.5em;
    border-radius: 3em ;
    box-shadow: 0 0 20px white,0 0 20px white;
    padding: 2em;
    
}
.tarjeta-acercade:hover{
    
    box-shadow: 0 0 20px rgb(0, 183, 255),0 0 20px rgb(0, 183, 255);
    transition: 0.3s;
    
}
.img-tarjeta{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 50%;
    margin-top: 2em;
    margin-bottom: 2em;
    
}
.tarjeta-acercade img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    box-shadow: 0 0 10px rgb(168, 161, 161),0 0 10px rgb(129, 126, 126);
   
}
.tarjeta-acercade h1{

    color: rgb(0, 183, 255);
    text-align: center;
}

.tarjeta-acercade p{
    
    color: rgb(181, 197, 197);
    font-size: 20px;
    text-align: center;
    
    
}
.tarjeta-acercade a{
   
    text-align: center;
    text-decoration: none;
    font-size:20px;
    border: 2px solid rgb(0, 183, 255) ;
    border-radius: 10px;
    padding: 15px;
    color: rgb(0, 183, 255);
    margin-top: 2em;
}
.tarjeta-acercade a:hover{
    color: white;
    background-color: rgb(0, 183, 255);
    text-shadow: 0 0 10px, 0 0 10px;
    box-shadow: 0 0 10px rgb(0, 183, 255),0 0 10px rgb(0, 183, 255);
    transition: 0.3s;
}


@media screen and (max-width:768px){


    .header.act{
        background-color: rgb(18, 74, 148);
        box-shadow: 0 0 5px whitesmoke,0 0 30px whitesmoke;
    }
   
    header img{
        width: 55px;
        height: 65px;
        
    }
    
    
    .menu{
        display: block;
    }

    .navegacion{
        margin: 1em 0;
    }
    .nav{
        width: 100%;
        display: none;  
    }

    .navresponsive{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

   
    .nav.mostrar{
        display: block;
       }
 
       .presentacion{
           flex-direction: column-reverse;
           width: 100%;
       }

       .contenido-letra{
       height: auto;
       }
       .contenido-letra h1{
        font-size: 40px;
       }
       .container-presentacion p{
        margin-top: auto;
       }
       .container-presentacion{
        height: 50%;
        width: 100%;
        
       }
       .container-btn{
        margin: 1em;
       }
       .imgcontadora{
        height: 50%;
        width: 100%;
        
       }
       .imgcontadora img{
        width: 60%;
        height: 100%;
       }
   
    
    
   
    .pestaña-acercade{
        flex-wrap: wrap;
    }   
    .tarjeta-acercade{
        width: 100%;
    }

    
}
